.article-add .redactor-editor{min-height:300px;max-height:400px;overflow-y: auto;}
.article-add #article-abstract{min-height:150px;}

.article-update .redactor-editor{min-height:300px;max-height:400px;overflow-y: auto;}
.article-update #article-abstract{min-height:150px;}
.article-update .file-preview-frame img{max-width: 100%;}
