body{background-color: #f1f4f9!important;font-family: "Microsoft YaHei", 微软雅黑, Arial, "Open Sans", SimSun, sans-serif!important;}
::selection { background:#72cfea;color: #fff; }
::-moz-selection { background:#72cfea; color: #fff;}
/*.layout-left{padding-right: 0!important;padding-left: 0!important;}*/

/*.index-left{background-color: #fff;height: auto;}*/
/*.index-left img{max-width: 100%;}*/

.navbar{background-color: #1d9dc4;}
.navbar a{color: #ffffff;}
.navbar .btn-link{color: #ffffff;}
.navbar .navbar-toggle .icon-bar{background-color:#ffffff!important;}
/* .navbar form{background-color: #ffffff;border-radius: 4px;max-width:100%;padding: 0px;padding-left: 5px;}
.navbar form input{border: 0;outline: none;height: 32px;}
.navbar form input:focus{border: 0;outline: none;}
.navbar form button{background-color: transparent;border: 0px;height: 32px;}
.navbar form button:active{background-color: transparent;border: 0px;}
 */
.navbar form .input-group-addon{cursor: pointer;}


.container .layout-left{min-height: 810px;}


/*.site-index{border: 1px solid #ffffff;}
.site-index:hover{border: 1px solid #fff;  -webkit-box-shadow: rgba(0,170,255,.3) 0 0 8px;-moz-box-shadow: rgba(0,170,255,.3) 0 0 8px; box-shadow: rgba(0,170,255,.3) 0 0 8px;}*/
.index-list{background-color: #fff;height: auto;border-bottom: 1px solid #cccccc;padding: 15px;}
.index-list:hover img{width: 120%;height: 180px;margin-left: -10%;margin-top: -15px;transition:1s;}
.index-list .img{padding-left: 0;height: 150px;overflow: hidden;padding-right: 0px;}
.index-list img{width: 100%;height: 150px;}
.index-list .col-sm-8 a{font-size: 18px;font-weight: 400;color: #428bca;line-height: 30px;height: 30px;margin-top: 5px;display: inline-block;}
.index-list .col-sm-8 a:hover{color: #dd3333;text-decoration:none;}
.index-list .tip{line-height: 30px;color: #afafaf;font-size: 14px;padding-left: 0;min-height: 30px;}
.index-list .tip span:hover{color: #00a7d0;}
.index-list p{line-height: 25px;text-indent: 2em;color: #3d3d3d!important;font-size: 14px;}


.about,.article-show{background-color: #fff;padding: 15px;border: 1px solid #ffffff;min-height: 800px;margin-bottom: 30px;}
.about:hover,.article-show:hover{border: 1px solid #fff;  -webkit-box-shadow: rgba(0,170,255,.3) 0 0 8px;-moz-box-shadow: rgba(0,170,255,.3) 0 0 8px; box-shadow: rgba(0,170,255,.3) 0 0 8px;}


.main-right .list-group .list-group-item:first-child{border-radius: 0;font-size: 16px;color: #000000;}
.main-right .list-group .list-group-item:last-child{border-radius: 0;}
.main-right .list-group .list-group-item{color: #3bba9a;}
.main-right .list-group .list-group-item span{font-size: 12px;font-weight: 100;}

.main-right .tags{background-color: #ffffff;height: auto;padding-bottom: 10px;}
.main-right .tags a{border-left: none;border-top: none;border-right: none;}
.main-right .tags .span{padding-right: 10px;padding-left: 10px;}
.main-right .tags .span span{margin-top: 8px;display: inline-block;border-radius: 0;padding: 10px;}

.footer{background-color: #222222;min-height: 80px;color: #b5b5b5;padding-top: 30px;}
.footer .left:hover{color: #ffffff;}
.footer .right:hover{color: #ffffff;}
.footer a{color: #b5b5b5;}
.footer a:hover{color: #ffffff;text-decoration: none;}
.footer .right{text-align: right;}

.article-show .title{margin: auto;text-align: left;font-size: 20px;margin-bottom:20px;}
.article-show .content img{max-width:100%;}


/*评论background-color: #00a7d0;*/
/*
.comment{height: auto;min-height: 180px;}
.comment .col-sm-12,col-sm-11{padding-left: 0!important;padding-right: 0!important;}
.comment #com_all{padding: 5px!important;border: 1px solid #4398ed;border-radius: 4px;}
.comment .userlogo{width: 40px;margin-left:5px;border-radius: 50%;}
.comment .com_text{padding: 10px 0 5px 5px;border-radius: 3px;border-color: #49483e;height: auto;width: 100%;}
.comment #com_all .com_cap_div{border-bottom: 1px solid #4398ed;padding-bottom: 5px;}
.comment #com_all .com_cap_div span{padding-left: 0;color: #fe1919}
.comment #com_all .com_cap_div .valid{float: left;margin-right: 10px;border-radius: 4px;}
.comment #com_all .com_cap_div input{border-radius: 4px;border: 1px solid #cccccc; }
.comment #com_all .com_cap_div input:focus{outline: none;padding-left: 5px;}
.comment .com_btn{float: right;margin-bottom: 3px;}
.comment textarea {resize : none;border: none;min-height: 60px;width: 100%;background-color: transparent;}
.comment textarea:focus{border: none!important;outline:none;}
.comment .com_con{padding: 10px;display:block;}
.comment .com_none{display: none;}
.comment .com_rep{margin-top: 30px;}
.comment .com_rep #com_all{float: right;margin-bottom: 15px;}
.comment .reply_btn{color: #4c4c4c;float: right;}
.comment .one_com{padding-top: 15px;padding-bottom: 10px;border-bottom: 1px dashed #ccc;}
.comment .one_com .old_com{padding-right: 0!important;}
.comment .one_com .usermeg{height: 40px;line-height: 40px;}
.comment .one_com .content{margin-top: 10px;}
.comment .reply_btn:hover{color: #428bca;text-decoration: none;}
.comment .reply_btn:focus{color: #3988ca;text-decoration: none;outline: none;}
.comment .cancle_reply{text-decoration: none;outline: none;color:#428bca;float: right;}
.comment .cancle_reply:hover{color: #ff0000!important;}
.comment .one_rep{border-top: 1px dashed #ccc;padding-top: 10px;padding-bottom: 5px;}*/
